body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.content{
    max-width: 1280px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
header{
    width: 100%;
    height: 252px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

}
.header_img_eclipse{
    width: 100%;
    height: 252px;
    background-color: #1F2021;
    opacity: 79%;
    position: absolute;
    z-index: 0;
}
.header_content{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 35px;
    padding: 0 20px;

}
.header_logo{
   display: inline;
   max-width: 78px;
   height: auto;


}
.header_menu{
    height: 100%;
    margin-right: 180px;
}
.menu a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.menu li{
    display: inline-block;
    list-style-type: none;
    font-size: 18px;
    margin-right: 60px;
}

.header_number {
    color: #fff;
    text-align: end;

}

ul{
    padding: 0;
    margin: 0;
}

.header_number h1{
    font-size: 24px;

}
.header_number p{
    font-size: 18px;

}
.find_result_text{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 38px;
    top: 100px;
}

.sort{
    margin-top: 37px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.sort p {
    font-size: 18px;
    font-weight: bold;
}

.sort li {
    display: inline-block;
    list-style-type: none;
    margin-left: 50px;
}
.sort img{
    margin-left: 15px;
}
.item{
    height: 521px;
    width: 380px;
    margin-top: 40px;
}
.content_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cat_info{
    background-color: #F3F3F3;
    padding: 29px;
}
.cat_photo{
    width: 380px;
    height: 264px;
    position: relative;
}
.discount{
    display: none;
    padding: 10px 19px;
    background-color: #E52D2D;
    color: white;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
    top: 34px;
    left: 38px;
}
.active{
    display: block;
}
.like{
    width: 46px;
    height: 46px;
    position: absolute;
    top: 34px;
    right: 32px;
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    opacity: 50%;
    transition: 0.5s;
}
.like:hover{
    opacity: 100%;
    transition: 0.5s;
}
.cat_name, .cat_price{
    font-size: 24px;
    font-weight: bold;
}
.cat_price{
    margin-top: 22px;

}
.cat_info_text{
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
    font-size: 12px;
    border-left: 4px solid #6EBBD3;
}
.cat_color{
    max-width: 90px;
}
.cat_age p:first-child,.cat_paws p:first-child{
    font-size: 16px;
    font-weight: bold;
}
.item button{
    background-color: #6EBBD3;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border: none;
    width: 380px;
    height: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.more_cats{
    margin: 70px auto 0 auto;
    width: 380px;

}

.more_cats button{
    width: 380px;
    padding: 25px 120px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #CACACA;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.scroll_up{
    display: none;
    width: 59px;
    height: 59px;
    background-color: #6EBBD3;
    position: fixed;
    left: 88%;
    bottom: 35%;

}
.scroll_up img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    margin: 70px auto 0 auto;
    background: #1F2021;
    max-width: 1280px;
    height: 310px;
    color: white;
    border: 1px solid #1F2021;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    width: 1020px;
    margin-top: 85px;


}
.footer_content_text{
    width: 400px;
}
.footer_content_text h1{
    font-size: 48px;
}
.footer_content_text p{
    font-size: 28px;
}
.footer_content_form{
    width: 581px;
}

input[type='email']{
    width: 300px;
    height: 65px;
    border: none;
    padding: 0;
    border-radius: 10px;
    text-indent: 33px;
    outline: none;
}
input[type='submit']{
    width: 250px;
    height: 65px;
    margin-left: 15px;
    background-color: #6EBBD3;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}
input[type='checkbox']{
    display: none;
}
.sub{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    width: 240px;
}


.new_check_box{
    width: 18px;
    height: 18px;
    margin: 0;
    background-color: #6EBBD3;
    border-radius: 3px;
    position: relative;
}
.new_check_box:before{
    background-image: url("../img/check.png");
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
}
input[type='checkbox']:checked + .new_check_box:before{
    opacity: 1;
}