@import "../fonts/gilroy-regular.css";
@import "../fonts/gilroy-bold.css";
@import "payment.css";
* {
  padding: 0;
  margin: 0;
}

body {
  background: #F4F5FA;
}

.container {
  width: 100%;
  height: 828px;
}

.content_form {
  width: 500px;
  height: auto;
  margin: 0 auto;
}
.content_form .content_form_back {
  position: relative;
  top: 105px;
  left: 74%;
  width: 102.54px;
  height: 118px;
  z-index: 0;
}

form {
  position: relative;
  background-color: white;
  border: 1px solid white;
  border-radius: 0 50px 50px 50px;
  width: 440px;
  height: 535px;
}

.form_content {
  margin: 35px 35px 0 35px;
  width: 390px;
  height: 375px;
  overflow-x: auto;
}
.form_content h1 {
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 134.9%;
  color: #1C154E;
}
.form_content h1:first-child {
  margin-top: 0;
}
.form_content p {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #1C154E;
  opacity: 0.8;
  margin: 12px 0 0 0;
}
.form_content input {
  margin-top: 5px;
  width: 370px;
  height: 30px;
  border: none;
  opacity: 0.5;
  border-bottom: 1.5px solid #E1E3EE;
  outline: none;
}

.products_item_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  margin-top: 25px;
}
.products_item_name h1 {
  margin: 0;
}
.products_item_name img {
  width: 13px;
  height: 13px;
  margin-left: 5px;
  display: none;
}

.form_content::-webkit-scrollbar {
  width: 4px;
}

.form_content::-webkit-scrollbar-track {
  background: #E1E3EE;
  border-radius: 5px;
}

.form_content::-webkit-scrollbar-thumb {
  background: #23C967;
  border-radius: 5px;
  height: 36px;
}

input::-webkit-input-placeholder {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.btn_add_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  margin-top: 25px;
  outline: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn_add_more span {
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: bold;
  color: #23C967;
}
.btn_add_more img {
  margin-left: 5px;
  width: 13px;
  height: 13px;
}

.sub_pay {
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -185px;
  border: 1px solid white;
  width: 370px;
}
.sub_pay button {
  width: 370px;
  height: 45px;
  background: #23C967;
  border-radius: 15px;
  border: none;
  outline: none;
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.sub_pay .secure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #AFB4CC;
}
.sub_pay .secure p {
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: bold;
  margin-left: 3px;
}
.sub_pay .secure img {
  width: 9px;
  height: 13px;
}

.form_add_more {
  display: none;
}

#sub {
  position: relative;
}

button:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.link-hover-solid span:after {
  background-color: #23C967;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.link-hover-solid span:hover:after,
.link-hover-solid span:focus:after {
  width: 100%;
}

.add_more_type {
  width: 370px;
  margin-top: 5px;
  border: 1.5px solid #E1E3EE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
}
.add_more_type li {
  list-style: none;
  border-bottom: 1.5px solid #E1E3EE;
}
.add_more_type li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.add_more_type li label input {
  display: none;
}
.add_more_type li:first-child {
  border-radius: 15px 15px 0 0;
}
.add_more_type li:last-child {
  border-radius: 0 0 15px 15px;
  border-bottom: none;
}
.add_more_type li:hover {
  background-color: #F4F5FA;
}

.add_more_type_name {
  margin: 0 0 0 12px;
}
.add_more_type_name h1 {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
.add_more_type_name p {
  margin: 5px 0 0 0;
  font-size: 13px;
  line-height: 15px;
}

.new_radio {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 0 0 17px;
  border: 1.5px solid #E1E3EE;
  border-radius: 50%;
  position: relative;
}

.new_radio:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #23C967;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.add_more_type input[type=radio]:checked + .new_radio:before {
  opacity: 1;
}

.active {
  background-color: #F4F5FA;
}
.active p {
  color: #23C967;
}

.visible {
  display: block;
}

.hide {
  display: none;
}

.lds-ring {
  position: relative;
  width: 32px;
  top: -25px;
  margin: 0 auto;
  display: none;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 4px solid;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.payment_result {
  position: relative;
  background-color: white;
  border: 1px solid white;
  border-radius: 0 50px 50px 50px;
  width: 440px;
  height: 535px;
  display: block;
}

.payment_success, .payment_err {
  width: 371px;
  height: 369px;
  margin: 35px;
}
.payment_success h1, .payment_err h1 {
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 134.9%;
  color: #1C154E;
}
.payment_success p, .payment_err p {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: normal;
  margin-top: 12px;
  font-size: 16px;
  line-height: 145%;
  color: #1C154E;
  opacity: 0.8;
}
.payment_success .payment_img, .payment_err .payment_img {
  margin: 15% auto 0 auto;
}
.payment_success .success_img, .payment_err .success_img {
  width: 157px;
}
.payment_success .error_img, .payment_err .error_img {
  width: 258px;
}
.payment_success button, .payment_err button {
  margin-top: 105px;
}