@charset "UTF-8";
@font-face {
  font-family: "Gotham Black";
  src: url("../fonts/GothamBlack.otf") format("opentype");
}
body {
  margin: 0;
}

.content {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.content_h1 {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  line-height: 22px;
  color: #394b50;
}
.content_h1 h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Gotham Black";
  font-size: 30px;
}
.content_h1 p {
  margin: 5px 0 0 0;
  font-family: "Open Sans";
  font-size: 18px;
}

.button {
  margin: 15px auto 0 auto;
  padding: 16px 22px;
  background: #ffc155;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Lato", Serif;
  font-size: 14px;
}

.button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.2);
}

header {
  height: 95px;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .img-logo {
  margin-left: 5%;
}
header .header-nav {
  text-transform: uppercase;
}
header .header-nav ul {
  display: flex;
  justify-content: flex-end;
}
header .header-nav ul li {
  display: inline-block;
}
header .header-nav ul li a {
  border: 1px white solid;
}
header .header-nav ul li .menu {
  font-family: "Lato", Serif;
  outline: none;
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 13.5px;
  color: #868686;
  text-decoration: none;
}
header .header-nav ul li .menu:hover {
  border-color: #ffbb42;
  transition: 0.5s;
}
header .header-nav ul li .active {
  background-color: #ffbb42;
  color: white;
  border-radius: 2px;
}

.first-block {
  height: 1500px;
  position: relative;
}
.first-block .top-back {
  position: absolute;
  top: -20px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #709dca;
  width: auto;
  height: 590px;
}
.first-block .top-text {
  color: white;
  margin: 0 auto;
  top: 110px;
  position: relative;
  text-align: center;
}
.first-block .top-text h1 {
  text-transform: uppercase;
  font-family: "Gotham Black";
}
.first-block .top-text span {
  position: relative;
  font-family: "Open Sans", serif;
  top: -20px;
}
.first-block .top-request {
  display: flex;
  position: relative;
  top: 126px;
  margin: 0 auto;
  min-width: 278px;
  max-width: 1085px;
}
.first-block .top-request .input-img {
  margin: 15px;
}
.first-block .top-request .top-input {
  margin: 0 5px;
  display: flex;
  align-items: center;
  width: 278px;
  height: 45px;
  background-color: white;
}
.first-block .top-request .top-submit {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-block .top-request .top-submit :hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.first-block #fio, .first-block #mail, .first-block #phone {
  width: 100%;
  height: 95%;
  border: none;
  outline: none;
}
.first-block #req {
  height: 45px;
  width: 200px;
  text-transform: uppercase;
  background-color: #ffbb42;
  border: none;
  color: white;
  outline: none;
}
.first-block .laptop-area {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 170px;
  position: relative;
  width: 650px;
  height: auto;
}
.first-block .laptop {
  background-image: url("../img/notebook.png");
  background-repeat: no-repeat;
  width: 647px;
  height: 343px;
}
.first-block .laptop-img {
  position: absolute;
  width: 450px;
  height: 245px;
  top: 19px;
  left: 100px;
  background-image: url("../img/lap-img.png");
  background-repeat: no-repeat;
}
.first-block .img-page {
  width: 647px;
  height: 50px;
}
.first-block .img-page ul {
  display: flex;
  justify-content: center;
  height: 17px;
  padding: 0;
  padding-inline-start: 0;
}
.first-block .img-page ul li {
  display: inline;
  margin: 0 2px;
}
.first-block .img-page ul .page {
  width: 13px;
  height: 13px;
  background: white;
  border: 2px solid #dedfe0;
  border-radius: 50%;
}
.first-block .img-page ul .page:hover {
  border-color: #1ca8dd;
}
.first-block .img-page ul .page.active-page {
  border-color: #1ca8dd;
}
.first-block .our-services {
  position: relative;
  top: 250px;
  margin: 0 auto;
  max-width: 1170px;
}
.first-block .our-services .serv-H {
  text-align: center;
  color: #394b50;
  line-height: 10px;
}
.first-block .our-services .serv-H h1 {
  text-transform: uppercase;
  font-family: "Gotham Black";
  font-size: 30px;
}
.first-block .our-services .serv-H p {
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: bold;
}
.first-block .services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.first-block .services .service {
  width: 505px;
  height: 105px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.first-block .services .service .img-service {
  width: 15%;
}
.first-block .services .service span {
  width: 85%;
}
.first-block .services .service span h2 {
  margin-top: 0;
  font-family: "Lato", Serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #394b50;
}
.first-block .services .service span p {
  font-family: "Open Sans";
  font-size: 13px;
}

.second-block {
  height: auto;
  max-height: 620px;
  background-color: #ffc155;
}
.second-block .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second-block .content .left-side {
  width: 50%;
  background-image: url("../img/about_us.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  min-height: 500px;
  background-position: center;
}
.second-block .content .left-side img {
  max-height: 620px;
  width: 100%;
  height: auto;
}
.second-block .content .right-side {
  color: white;
  width: 50%;
  text-align: left;
  margin-left: 20px;
}
.second-block .content .right-side h1 {
  text-transform: uppercase;
  font-family: "Gotham Black";
  font-size: 30px;
}
.second-block .content .right-side p {
  font-family: "Open Sans", serif;
  font-size: 13px;
  line-height: 24px;
}
.second-block .content .right-side .second-block-button {
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 20px;
  outline: none;
  font-size: 14px;
  color: white;
  height: 50px;
  width: 140px;
  border-radius: 5px;
  background-color: #ffc155;
  border: 1px #b8860b solid;
}
.second-block .content .right-side .second-block-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.2);
}

.third-block {
  min-height: 800px;
  background-color: #e7edf3;
  border: 1px solid #e7edf3;
  padding: 1px;
}
.third-block .price-plan {
  display: flex;
  align-items: center;
  margin: 50px auto 0 auto;
}
.third-block .price-plan .box-middle {
  background-color: #709dca;
  width: 395px;
  height: 500px;
}
.third-block .price-plan .box-middle .middle {
  margin-top: 60px;
  color: white;
}
.third-block .price-plan .box-middle .middle .price-text-content {
  border-color: #8eb8e2;
}
.third-block .price-plan .box-side {
  width: 391px;
  height: 441px;
  background-color: white;
  border: 1px #ccd5df solid;
}
.third-block .price-plan .price-text {
  text-transform: uppercase;
  text-align: center;
  color: #b5bbc1;
  margin: 10% auto 0 auto;
  width: 80%;
  height: auto;
  font-family: "Lato";
  line-height: 40px;
}
.third-block .price-plan .price-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: lighter;
}
.third-block .price-plan .price-text .price {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 50px;
  color: #ffc155;
  font-weight: bold;
}

.underH {
  margin-top: -5px;
  padding-top: 0;
}

.price-text-content {
  font-size: 13.5px;
  margin-bottom: 0;
  border-top: 1px #e2e9f0 solid;
  margin-top: 0;
}

.fourth-block {
  height: 850px;
  max-height: 850px;
  margin: 0;
}
.fourth-block .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works_img {
  width: auto;
  margin: 100px 65px 0 65px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.works_img .main_img {
  padding: 30px;
}
.works_img .reverse_arrow {
  align-self: flex-end;
  transform: rotate(180deg);
}

.works_text {
  display: flex;
  justify-content: space-around;
}

.step {
  max-width: 213px;
  margin-top: 60px;
}
.step h1 {
  text-transform: uppercase;
  font-family: "Lato", Serif;
  font-size: 20px;
  text-align: center;
  color: #394b50;
}
.step p {
  text-align: center;
  font-size: 13px;
  font-family: "Open Sans", serif;
}

.works_button {
  margin: 60px auto 0 auto;
}

.fifth-block {
  padding: 1px;
  max-height: 900px;
  background-color: #ffbb42;
}
.fifth-block .clients_h1 {
  color: white;
}

.feedback_block {
  max-width: 560px;
  max-height: 240px;
  background-color: white;
  quotes: "“" "»";
}

.sixth-block {
  max-height: 940px;
  border: 1px black solid;
}

footer {
  height: 260px;
  background-color: #709dca;
}

@media screen and (max-width: 1010px) {
  .img-logo {
    display: none;
  }

  .header-nav {
    margin: 0 auto;
  }
  .header-nav ul {
    justify-content: space-between;
  }

  .first-block {
    height: 2100px;
    position: relative;
  }
  .first-block .top-request {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
  }
  .first-block .top-request .top-input {
    margin: 10px 0;
    width: 50%;
  }
  .first-block .top-request .top-submit {
    margin: 10px auto;
  }

  .second-block {
    height: 400px;
  }
  .second-block .content .left-side {
    display: none;
  }
  .second-block .content .right-side {
    display: block;
    margin: 20px auto;
    width: 70%;
  }
  .second-block .content .right-side h1 {
    text-align: center;
  }
  .second-block .content .right-side p {
    text-align: justify;
  }
}
/*# sourceMappingURL=main.css.map */